body {
  background-color: #ddd;
}

#main-column {
  width: 60%;
  background-color: #fff;
  box-shadow: 0 0 5px #888;
  margin-left: auto;
  margin-right: auto;
}

#splash {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

#title {
  background-color: rgba(255, 255, 255, 0.7);
  width: 40%;
  position: relative;
  left: 10px;
  top: 10px;
  padding: 1em;
}

#title h1 {
  padding-bottom: 0.3em;
}

h1, h2, h3 {
  color: #001942;
}

#article {
  margin: 2em;
}

#article p {
  margin: 0.5em;
}

figure {
  width: 30%;
  margin: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

figure img {
  width: 100%;
}

/* The traditional version of clearfix, a good one to start with. */
/* source: http://stackoverflow.com/a/15787469 */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
