body {
  background-color: #ddd;
}

#main-column {
  width: 60%;
  background-color: #fff;
  box-shadow: 0 0 5px #888;
  margin-left: auto;
  margin-right: auto;
}

#splash {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

#title {
  background-color: rgba(255, 255, 255, 0.7);
  width: 40%;
  position: relative;
  left: 10px;
  top: 10px;
  padding: 1em;
}

#title h1 {
  padding-bottom: 0.3em;
}

h1, h2, h3 {
  color: #001942;
}

#article {
  margin: 2em;
}

#article p {
  margin: 0.5em;
}

figure {
  margin: 10px;
}

figure.left {
  float: left;
  width: 40%;
  clear: both;
}

figure.right {
  float: right;
  width: 40%;
  clear: both;
}

figure.center {
  width: 100%;
  clear: both;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure img {
  width: 100%;
}

figcaption {
  font-family: sans-serif;
  font-size: 0.9rem;
  color: #444;
}

/* The traditional version of clearfix, a good one to start with. */
/* source: http://stackoverflow.com/a/15787469 */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}
