*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#splash {
  background-image: url("../art/images/irec2015_launch.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
}

#splash-text {
  padding-top: 30px;
  margin-left: 500px;
  margin-right: 30px;
}

#hardware-projects {
    float: left;
    width: 50%;
}

#software-projects {
    margin-left: 50%;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card {
    border: 1px solid grey;
    margin: 5px;
    padding: 5px;
}